<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>form</title>
</head>
<body>
    <form action="upload.php" method="post" enctype="multipart/form-data">
        <!-- <input type="file" id="files" class="hidden" name="csv_file" accept=".csv">
        <input type="submit" value="Upload CSV"> -->


        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file">Choose a file</label>
    </form>


    <button style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile').click()">by help js</button>
    <input type='file' id="getFile" style="display:none">
    
</body>
</html>