.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(25, 155, 192);
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(110, 114, 246);
    outline: 1px dotted #b8e3e3;
	/* outline:  -webkit-focus-ring-color auto 2px; */
    -webkit-focus-ring-color: blue;
    
}
#file{
    visibility: hidden;
}

